body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav {
    position: fixed;
    /* posicion fija*/
    height: 80px;
    /* altura definida */
   overflow: hidden;
     /*ocultar los contenidos que sobresalen de la caja.*/
    top: 0;
    display: flex;
    align-items: center;
    background: #f19a53e6;
    width: 100%;
}
.logo {
    background: url(images/Dragon_Ball_Super.jpg) no-repeat 80% 80%;
    /* imagen se escalará de forma que mantenga las proporciones*/
    background-size: contain;
    width: 180px;
    height: 55px;
    float: left;
}

.menu{
    position: absolute;
    right: 50px;
}

.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
    transition: color 1s;
    /*text-transform: uppercase;*/
}

.menu a:hover{
    color: #E85860;
}

header {
    width: 100%;
    height: 150px;
    background: url(images/dragon.jpg) no-repeat ;
    background-size: cover;
    margin-top: 20px;

}

/* ESTILOS PARA EL MENU DESPLEGABLE */
.btn {
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span {
    background-color: #E85860;
}
.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}


/* ESTILOS DE LA PAGINA EN GENERAL */
p {
    /*font-family: 'Poppins', sans-serif;
    font-family: 'Lora', serif;;
    /* font-family: 'Work Sans', sans-serif;*/
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 15px;
    text-align: justify;
    margin: 10px 1px;
    
}
h2{
    font-family: 'Work Sans', sans-serif;
    margin: 15px 25px;
}
@media only screen and (max-width: 550px){
    nav {
        overflow: visible;
    }
    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #f1f1f1e6;
        overflow: hidden;
        max-height: 0;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .btn {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 500px;
    }
}

p{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #FF6F00;
}
label{
    font-family: 'Italianno', cursive;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin: 10px 1px;
}
input[type=text], input[type=email],  textarea   {
    width: 50%;
    padding: 5px, 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}
input[type=submit]{
    background-color: red;
    margin: 5px 10px;
    padding: 5px 22px;
    color: rgb(255, 255, 255);
    border: 1px solid #f11b1b;
    border-radius: 2px;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(128, 34, 34);
}
ul{
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    background-color: #FF6F00;
}
figcaption{
    background: #E85860;
}
